{% assign variantCount = card_product.variants | size %}
<div class="quick__shop card-bottom__feature">
  {%- if variantCount > 1 and card_product.variants.first.title != 'Default Title' -%}
  <a class="quick-add__submit button icon__feature {% if card_product.selected_or_first_available_variant.available == false %}disabled{% endif %}" href="{{ card_product.url }}"
  >
    <span>
      {% if card_product.selected_or_first_available_variant.available == false %}
        {{ 'products.product.sold_out' | t }}
      {% else  %}
        {{ 'products.product.select_options' | t }}
      {% endif %}
    </span>
  </a>
  {%- else -%}
  <product-form data-section-id="{{ section.id }}">
    {%- form 'product',
      card_product,
      id: product_form_id,
      class: 'form',
      novalidate: 'novalidate',
      data-type: 'add-to-cart-form'
    -%}
      <input
        type="hidden"
        name="id"
        value="{{ card_product.selected_or_first_available_variant.id }}"
        class="product-variant-id"
        {% if card_product.selected_or_first_available_variant.available == false %}
          disabled
        {% endif %}
      >
      <button
        id="{{ product_form_id }}-submit"
        type="submit"
        name="add"
        class="quick-add__submit button icon__feature"
        aria-haspopup="dialog"
        aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ card_product.id }}"
        aria-live="polite"
        data-sold-out-message="true"
        {% if card_product.selected_or_first_available_variant.available == false %}
          disabled
        {% endif %}
      >
        <span>
          <label class="featured__label">
            {% if card_product.selected_or_first_available_variant.available == false %}
              {{ 'products.product.sold_out' | t }}
            {% else  %}
            {{ 'products.product.add_to_cart' | t }}
            {% endif %}
          </label>
        </span>
        <span class="sold-out-message hidden">
          {{ 'products.product.sold_out' | t }}
        </span>
        {%- if horizontal_quick_add -%}
          <span class="icon-wrap">{% render 'icon-arrow' %}</span>
        {%- endif -%}
        {%- render 'loading-spinner' -%}
      </button>
    {%- endform -%}
  </product-form>
  {%- endif -%}
</div>