{%- capture icon_class -%}icon icon-{{ icon }} {% if inline %}icon--inline{% endif %} {{ class }}{%- endcapture -%}

{%- case icon -%}
    {%- when 'account' -%}
        <span class="{{ icon_class }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M6 21V19C6 17.9391 6.42143 16.9217 7.17157 16.1716C7.92172 15.4214 8.93913 15 10 15H14C15.0609 15 16.0783 15.4214 16.8284 16.1716C17.5786 16.9217 18 17.9391 18 19V21M8 7C8 8.06087 8.42143 9.07828 9.17157 9.82843C9.92172 10.5786 10.9391 11 12 11C13.0609 11 14.0783 10.5786 14.8284 9.82843C15.5786 9.07828 16 8.06087 16 7C16 5.93913 15.5786 4.92172 14.8284 4.17157C14.0783 3.42143 13.0609 3 12 3C10.9391 3 9.92172 3.42143 9.17157 4.17157C8.42143 4.92172 8 5.93913 8 7Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>                              
        </span>
    {%- when 'cart' -%}
        <span class="{{ icon_class }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M9.00006 11V6C9.00006 5.20435 9.31613 4.44129 9.87874 3.87868C10.4413 3.31607 11.2044 3 12.0001 3C12.7957 3 13.5588 3.31607 14.1214 3.87868C14.684 4.44129 15.0001 5.20435 15.0001 6V11M6.33105 8H17.67C17.9584 7.99997 18.2434 8.06229 18.5054 8.1827C18.7674 8.30311 19.0003 8.47876 19.1881 8.6976C19.3759 8.91645 19.5141 9.17331 19.5933 9.45059C19.6726 9.72786 19.6909 10.019 19.647 10.304L18.392 18.456C18.2831 19.1644 17.9241 19.8105 17.38 20.2771C16.836 20.7438 16.1428 21.0002 15.426 21H8.57405C7.85745 21 7.16453 20.7434 6.62068 20.2768C6.07683 19.8102 5.71797 19.1643 5.60905 18.456L4.35405 10.304C4.31022 10.019 4.32854 9.72786 4.40775 9.45059C4.48697 9.17331 4.62521 8.91645 4.81299 8.6976C5.00078 8.47876 5.23367 8.30311 5.49569 8.1827C5.75772 8.06229 6.04268 7.99997 6.33105 8Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>             
        </span>
    {%- when 'search' -%}
        <span class="{{ icon_class }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M21 21L15 15M3 10C3 10.9193 3.18106 11.8295 3.53284 12.6788C3.88463 13.5281 4.40024 14.2997 5.05025 14.9497C5.70026 15.5998 6.47194 16.1154 7.32122 16.4672C8.1705 16.8189 9.08075 17 10 17C10.9193 17 11.8295 16.8189 12.6788 16.4672C13.5281 16.1154 14.2997 15.5998 14.9497 14.9497C15.5998 14.2997 16.1154 13.5281 16.4672 12.6788C16.8189 11.8295 17 10.9193 17 10C17 9.08075 16.8189 8.1705 16.4672 7.32122C16.1154 6.47194 15.5998 5.70026 14.9497 5.05025C14.2997 4.40024 13.5281 3.88463 12.6788 3.53284C11.8295 3.18106 10.9193 3 10 3C9.08075 3 8.1705 3.18106 7.32122 3.53284C6.47194 3.88463 5.70026 4.40024 5.05025 5.05025C4.40024 5.70026 3.88463 6.47194 3.53284 7.32122C3.18106 8.1705 3 9.08075 3 10Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </span>
    {%- when 'wishlist' -%}
        <span class="{{ icon_class }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
             <path d="M19.5003 12.5717L12.0003 19.9997L4.5003 12.5717C4.00561 12.0903 3.61594 11.5117 3.35585 10.8723C3.09575 10.2329 2.97086 9.54664 2.98904 8.85662C3.00721 8.1666 3.16806 7.48782 3.46146 6.86303C3.75485 6.23823 4.17444 5.68094 4.69379 5.22627C5.21314 4.77159 5.82101 4.42938 6.47911 4.22117C7.13722 4.01296 7.83131 3.94327 8.51767 4.01649C9.20403 4.08971 9.8678 4.30425 10.4672 4.64659C11.0666 4.98894 11.5885 5.45169 12.0003 6.00569C12.4138 5.45571 12.9364 4.99701 13.5354 4.65829C14.1344 4.31958 14.7968 4.10814 15.4812 4.03721C16.1657 3.96628 16.8574 4.03739 17.5131 4.24608C18.1688 4.45477 18.7743 4.79656 19.2919 5.25005C19.8094 5.70354 20.2277 6.25897 20.5207 6.88158C20.8137 7.50419 20.975 8.18057 20.9946 8.8684C21.0142 9.55622 20.8916 10.2407 20.6344 10.8789C20.3773 11.5172 19.9912 12.0955 19.5003 12.5777" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>              
        </span>
    {%- when 'category' -%}
        <span class="{{ icon_class }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                 <path d="M5.3335 8H26.6668M9.3335 16H26.6668M13.3335 24H26.6668" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </span>
        {%- when 'dropdown-icon' -%}
            <span class="{{ icon_class }}">
                <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6 3.83332L10 8.49999L6 13.1667" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>     
            </span>
    {%- when 'eye' -%}
        <span class="{{ icon_class }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                <path d="M7.5 9C7.5 9.39782 7.65804 9.77936 7.93934 10.0607C8.22064 10.342 8.60218 10.5 9 10.5C9.39782 10.5 9.77936 10.342 10.0607 10.0607C10.342 9.77936 10.5 9.39782 10.5 9C10.5 8.60218 10.342 8.22064 10.0607 7.93934C9.77936 7.65804 9.39782 7.5 9 7.5C8.60218 7.5 8.22064 7.65804 7.93934 7.93934C7.65804 8.22064 7.5 8.60218 7.5 9Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M15.75 9C13.95 12 11.7 13.5 9 13.5C6.3 13.5 4.05 12 2.25 9C4.05 6 6.3 4.5 9 4.5C11.7 4.5 13.95 6 15.75 9Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>         
        </span>
    {%- when 'fire' -%}
        <span class="{{ icon_class }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M12 12C14 9.04 12 5 11 4C11 7.038 9.227 8.741 8 10C6.774 11.26 6 13.24 6 15C6 16.5913 6.63214 18.1174 7.75736 19.2426C8.88258 20.3679 10.4087 21 12 21C13.5913 21 15.1174 20.3679 16.2426 19.2426C17.3679 18.1174 18 16.5913 18 15C18 13.468 16.944 11.06 16 10C14.214 13 13.209 13 12 12Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>       
        </span>
    {%- when 'caret-down' -%}
        <span class="{{ icon_class }}">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.6654 6L7.9987 10L3.33203 6" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>                
        </span>
    {%- when 'caret' -%}
        <span class="{{ icon_class }}">
            <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
            </svg>
        </span>
    {%- when 'pause' -%}
        <span class="{{ icon_class }}">
            <svg
                viewBox="0 0 8 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                focusable="false"
                aria-hidden="true"
              >
                <path d="M1.2 0.75C0.813401 0.75 0.5 0.985051 0.5 1.275V10.725C0.5 11.0149 0.813401 11.25 1.2 11.25C1.5866 11.25 1.9 11.0149 1.9 10.725V1.275C1.9 0.985051 1.5866 0.75 1.2 0.75Z" fill="currentColor"/>
                <path d="M6.8 0.75C6.4134 0.75 6.1 0.985051 6.1 1.275V10.725C6.1 11.0149 6.4134 11.25 6.8 11.25C7.1866 11.25 7.5 11.0149 7.5 10.725V1.275C7.5 0.985051 7.1866 0.75 6.8 0.75Z" fill="currentColor"/>
            </svg>
        </span>
    {%- when 'play' -%}
        <span class="{{ icon_class }}">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true"
                focusable="false"
                fill="none"
                viewBox="0 0 10 14"
              >
                <path fill-rule="evenodd" clip-rule="evenodd" d="M1.48177 0.814643C0.81532 0.448245 0 0.930414 0 1.69094V12.2081C0 12.991 0.858787 13.4702 1.52503 13.0592L10.5398 7.49813C11.1918 7.09588 11.1679 6.13985 10.4965 5.77075L1.48177 0.814643Z" fill="currentColor"/>
            </svg>
        </span>
    {%- when 'facebook' -%}
        <span class="{{ icon_class }}">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve">
                <path d="M60.5,0H3.6C1.6,0,0,1.6,0,3.6v56.9c0,2,1.6,3.6,3.6,3.6h30.6V39.3h-8.3v-9.7h8.3v-7.1c0-8.3,5-12.8,12.4-12.8
                    c2.5,0,5,0.1,7.4,0.4v8.6H49c-4,0-4.8,1.9-4.8,4.7v6.2h9.6l-1.2,9.7h-8.3V64h16.3c2,0,3.6-1.6,3.6-3.6V3.6C64,1.6,62.4,0,60.5,0z"/>
           </svg>
        </span> 
    {%- when 'twitter' -%}
        <span class="{{ icon_class }}">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve">
                <path d="M20.1,58.1c24.2,0,37.4-20,37.4-37.4c0-0.5,0-1.1-0.1-1.7c2.6-1.9,4.8-4.2,6.5-6.8c-2.4,1.1-4.9,1.8-7.6,2.1
                    c2.7-1.6,4.8-4.2,5.8-7.3c-2.6,1.5-5.3,2.6-8.4,3.2c-2.4-2.6-5.8-4.2-9.6-4.2c-7.3,0-13.2,5.9-13.2,13.2c0,1,0.1,2,0.3,3
                    C20.6,21.6,10.9,16.4,4.4,8.4c-1.1,2-1.8,4.2-1.8,6.6c0,4.6,2.3,8.6,5.9,10.9c-2.2-0.1-4.2-0.7-5.9-1.6c0,0.1,0,0.1,0,0.1
                    c0,6.3,4.5,11.7,10.5,12.9c-1.1,0.3-2.3,0.5-3.4,0.5c-0.9,0-1.7-0.1-2.5-0.3c1.7,5.2,6.5,9,12.3,9.1c-4.5,3.5-10.2,5.6-16.3,5.6
                    C2,52.3,1,52.2,0,52.1C5.7,55.9,12.7,58.1,20.1,58.1"/>
           </svg>           
        </span> 
    {%- when 'youtube' -%}
        <span class="{{ icon_class }}">
            <svg aria-hidden="true" focusable="false" viewBox="0 0 20 20">
                <path fill="currentColor" d="M18.16 5.87c.34 1.309.34 4.08.34 4.08s0 2.771-.34 4.08a2.125 2.125 0 0 1-1.53 1.53c-1.309.34-6.63.34-6.63.34s-5.321 0-6.63-.34a2.125 2.125 0 0 1-1.53-1.53c-.34-1.309-.34-4.08-.34-4.08s0-2.771.34-4.08a2.173 2.173 0 0 1 1.53-1.53C4.679 4 10 4 10 4s5.321 0 6.63.34a2.173 2.173 0 0 1 1.53 1.53ZM8.3 12.5l4.42-2.55L8.3 7.4v5.1Z"/>
            </svg>              
        </span> 
    {%- when 'instagram' -%}
        <span class="{{ icon_class }}">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve">
                <g>
                    <path d="M63.8,18.8c-0.2-3.4-0.7-5.7-1.5-7.8c-0.8-2.1-1.9-3.9-3.7-5.7S55.1,2.5,53,1.7c-2-0.8-4.4-1.3-7.8-1.5C41.8,0,40.7,0,32,0
                        s-9.8,0-13.2,0.2c-3.4,0.2-5.7,0.7-7.8,1.5C8.9,2.5,7.1,3.6,5.4,5.4S2.5,8.9,1.7,11c-0.8,2-1.3,4.4-1.5,7.8C0,22.2,0,23.3,0,32
                        s0,9.8,0.2,13.2c0.2,3.4,0.7,5.7,1.5,7.8c0.8,2.1,1.9,3.9,3.7,5.7c1.8,1.8,3.6,2.9,5.7,3.7c2,0.8,4.4,1.3,7.8,1.5
                        C22.2,64,23.3,64,32,64s9.8,0,13.2-0.2c3.4-0.2,5.7-0.7,7.8-1.5c2.1-0.8,3.9-1.9,5.7-3.7c1.8-1.8,2.9-3.6,3.7-5.7
                        c0.8-2,1.3-4.4,1.5-7.8C64,41.8,64,40.7,64,32S64,22.2,63.8,18.8z M58,44.9c-0.1,3.1-0.7,4.8-1.1,5.9c-0.6,1.5-1.3,2.6-2.4,3.7
                        c-1.1,1.1-2.2,1.8-3.7,2.4c-1.1,0.4-2.8,1-5.9,1.1c-3.4,0.2-4.4,0.2-12.9,0.2s-9.6,0-12.9-0.2c-3.1-0.1-4.8-0.7-5.9-1.1
                        c-1.5-0.6-2.6-1.3-3.7-2.4c-1.1-1.1-1.8-2.2-2.4-3.7c-0.4-1.1-1-2.8-1.1-5.9C5.8,41.6,5.8,40.6,5.8,32s0-9.6,0.2-12.9
                        c0.1-3.1,0.7-4.8,1.1-5.9c0.6-1.5,1.3-2.6,2.4-3.7c1.1-1.1,2.2-1.8,3.7-2.4c1.1-0.4,2.8-1,5.9-1.1c3.4-0.2,4.4-0.2,12.9-0.2
                        s9.6,0,12.9,0.2c3.1,0.1,4.8,0.7,5.9,1.1c1.5,0.6,2.6,1.3,3.7,2.4c1.1,1.1,1.8,2.2,2.4,3.7c0.4,1.1,1,2.8,1.1,5.9
                        c0.2,3.4,0.2,4.4,0.2,12.9S58.2,41.6,58,44.9z"/>
                    <path d="M32,15.6c-9.1,0-16.4,7.4-16.4,16.4c0,9.1,7.4,16.4,16.4,16.4S48.4,41.1,48.4,32S41.1,15.6,32,15.6z M32,42.7
                        c-5.9,0-10.7-4.8-10.7-10.7S26.1,21.3,32,21.3S42.7,26.1,42.7,32S37.9,42.7,32,42.7z"/>
                    <ellipse cx="49.1" cy="14.9" rx="3.8" ry="3.8"/>
                </g>
           </svg>           
        </span>
    {%- when 'tiktok' -%}
        <span class="{{ icon_class }}">
            <svg aria-hidden="true" focusable="false" viewBox="0 0 20 20">
                <path fill="currentColor" d="M10.511 1.705h2.74s-.157 3.51 3.795 3.768v2.711s-2.114.129-3.796-1.158l.028 5.606A5.073 5.073 0 1 1 8.213 7.56h.708v2.785a2.298 2.298 0 1 0 1.618 2.205L10.51 1.705Z"/>
              </svg>                         
        </span> 
    {%- when 'pinterest' -%}
        <span class="{{ icon_class }}">
            <svg aria-hidden="true" focusable="false" viewBox="0 0 20 20">
                <path fill="currentColor" d="M10 2.01c2.124.01 4.16.855 5.666 2.353a8.087 8.087 0 0 1 1.277 9.68A7.952 7.952 0 0 1 10 18.04a8.164 8.164 0 0 1-2.276-.307c.403-.653.672-1.24.816-1.729l.567-2.2c.134.27.393.5.768.702.384.192.768.297 1.19.297.836 0 1.585-.24 2.248-.72a4.678 4.678 0 0 0 1.537-1.969c.37-.89.554-1.848.537-2.813 0-1.249-.48-2.315-1.43-3.227a5.061 5.061 0 0 0-3.65-1.374c-.893 0-1.729.154-2.478.461a5.023 5.023 0 0 0-3.236 4.552c0 .72.134 1.355.413 1.902.269.538.672.922 1.22 1.152.096.039.182.039.25 0 .066-.028.114-.096.143-.192l.173-.653c.048-.144.02-.288-.105-.432a2.257 2.257 0 0 1-.548-1.565 3.803 3.803 0 0 1 3.976-3.861c1.047 0 1.863.288 2.44.855.585.576.883 1.315.883 2.228 0 .768-.106 1.479-.317 2.122a3.813 3.813 0 0 1-.893 1.556c-.384.384-.836.576-1.345.576-.413 0-.749-.144-1.018-.451-.259-.307-.345-.672-.25-1.085.147-.514.298-1.026.452-1.537l.173-.701c.057-.25.086-.451.086-.624 0-.346-.096-.634-.269-.855-.192-.22-.451-.336-.797-.336-.432 0-.797.192-1.085.595-.288.394-.442.893-.442 1.499.005.374.063.746.173 1.104l.058.144c-.576 2.478-.913 3.938-1.037 4.36-.116.528-.154 1.153-.125 1.863A8.067 8.067 0 0 1 2 10.03c0-2.208.778-4.11 2.343-5.666A7.721 7.721 0 0 1 10 2.001v.01Z"/>
            </svg>
        </span> 
    {%- when 'snapchat' -%}
        <span class="{{ icon_class }}">
            <svg aria-hidden="true" focusable="false" viewBox="0 0 20 20">
                <path fill="currentColor" fill-rule="evenodd" d="M17.388 15.396a4.9 4.9 0 0 1-1.111.445c-.074.23-.236.564-.596.813-.361.252-.755.294-.9.308-.14.015-.313.021-.443.026l-.092.004c-.317.014-.624.042-.958.154l-.002.001a1.74 1.74 0 0 0-.331.168l-.138.085c-.14.087-.33.205-.497.298a4.582 4.582 0 0 1-2.321.602 4.552 4.552 0 0 1-2.315-.602c-.164-.091-.355-.21-.495-.297l-.14-.086a1.816 1.816 0 0 0-.338-.172 3.427 3.427 0 0 0-.96-.154 9.342 9.342 0 0 0-.09-.003c-.13-.006-.304-.013-.445-.027-.15-.016-.541-.06-.9-.31a1.556 1.556 0 0 1-.593-.809 4.814 4.814 0 0 1-1.112-.446 1.919 1.919 0 0 1-.628-.535 1.437 1.437 0 0 1-.21-1.306 1.51 1.51 0 0 1 .53-.724c.137-.104.27-.17.323-.196 1.23-.604 1.77-1.38 1.996-1.833l-.18-.118c-.167-.11-.342-.223-.438-.291-.252-.178-.572-.449-.779-.85a1.805 1.805 0 0 1-.087-1.473l.002-.005c.344-.922 1.2-1.14 1.704-1.14h.07c.004-.222.014-.45.033-.678A4.599 4.599 0 0 1 6.132 3.35l.007-.007a5.094 5.094 0 0 1 1.773-1.247 5.055 5.055 0 0 1 2.108-.394c2.272.008 3.522 1.273 3.855 1.655a4.598 4.598 0 0 1 1.176 2.884c.019.227.028.456.032.678h.088c.521.005 1.346.242 1.684 1.133l.005.012c.18.487.154 1.01-.09 1.477-.209.401-.531.672-.786.85a19.36 19.36 0 0 1-.402.267l-.209.138c.224.45.76 1.226 1.994 1.827l.01.004.008.004c.056.029.188.097.325.203.12.093.388.323.52.724.16.493.028.963-.207 1.292a1.91 1.91 0 0 1-.627.541l-.008.005Zm-3.315-5.268c.088-.083.33-.248.574-.41l.255-.169.084-.055a24.313 24.313 0 0 0 .217-.144l.018-.013.018-.012c.36-.25.514-.504.401-.811-.081-.214-.28-.295-.486-.295a.76.76 0 0 0-.194.02 3.192 3.192 0 0 0-.403.12 7.088 7.088 0 0 0-.179.068l-.013.005-.058.023c-.092.036-.176.069-.248.093-.033.011-.064.02-.091.027-.029.012-.057.012-.082.012-.117 0-.161-.053-.153-.196l.003-.048.017-.264a19.471 19.471 0 0 0 .03-.785v-.03a9.727 9.727 0 0 0-.03-.943 3.299 3.299 0 0 0-.85-2.102c-.199-.23-1.13-1.217-2.904-1.217a3.755 3.755 0 0 0-1.583.292c-.5.21-.951.527-1.32.93a3.299 3.299 0 0 0-.851 2.101 9.737 9.737 0 0 0-.026 1.198l.01.246c.01.224.022.422.033.576 0 .019.002.037.003.054.008.135-.032.192-.154.192l-.08-.008a1.104 1.104 0 0 1-.087-.025 4.983 4.983 0 0 1-.254-.096l-.054-.022a3.76 3.76 0 0 1-.072-.029 6.693 6.693 0 0 0-.123-.046l-.008-.003a3.09 3.09 0 0 0-.447-.128 1.16 1.16 0 0 0-.142-.011c-.207 0-.405.077-.486.295-.114.307.04.561.397.811a2.774 2.774 0 0 0 .089.061 18.537 18.537 0 0 0 .274.181l.238.156c.243.161.482.323.569.405.175.165.16.293.14.452l-.002.02c-.014.115-.304 1.492-1.926 2.641a6.342 6.342 0 0 1-.51.327 7.138 7.138 0 0 1-.428.228c-.141.07-.388.217.045.459.084.046.164.086.24.121h.001c.247.113.46.174.65.225l.035.01c.06.015.115.03.17.046.14.042.267.088.382.163.16.104.182.274.203.432.018.133.035.258.133.326.117.082.333.091.623.103.375.015.873.036 1.443.225.287.097.536.253.8.416.514.322 1.08.674 2.075.674 1 0 1.572-.356 2.087-.677.261-.162.508-.315.788-.409.572-.192 1.073-.212 1.448-.226.289-.011.503-.02.617-.102.101-.068.118-.193.135-.328.021-.157.044-.328.206-.434.116-.075.244-.121.388-.163a7.998 7.998 0 0 1 .2-.056 4.084 4.084 0 0 0 .642-.222c.08-.036.162-.077.248-.124.429-.242.186-.394.04-.468a7.185 7.185 0 0 1-.423-.223l-.01-.005a6.487 6.487 0 0 1-.5-.319c-1.629-1.145-1.916-2.526-1.93-2.649v-.002c-.024-.163-.044-.293.138-.465Zm-10.3 4.838h.002Zm.106-1.842h-.002Zm1.573-4.897Zm9.1-.012Zm1.818 7.167Zm-12.74-.003Z" clip-rule="evenodd"/>
            </svg>
        </span> 
    {%- when 'tumblr' -%}
        <span class="{{ icon_class }}">
            <svg aria-hidden="true" focusable="false" viewBox="0 0 20 20">
                <path fill="currentColor" fill-rule="evenodd" d="M11.997 18c-2.26 0-3.954-1.235-3.954-4.198V9.061H6V6.489C8.26 5.867 9.201 3.787 9.314 2h2.344v4.068h2.73V9.06h-2.73v4.128c0 1.235.584 1.667 1.516 1.667h1.318V18h-2.495Z" clip-rule="evenodd"/>
            </svg>
        </span> 
    {%- when 'vimeo' -%}
        <span class="{{ icon_class }}">
            <svg aria-hidden="true" focusable="false" viewBox="0 0 20 20">
                <path fill="currentColor" fill-rule="evenodd" d="M17.995 7.002C17.92 8.457 16.9 10.451 14.935 13c-2.039 2.653-3.763 3.988-5.187 3.988-.87 0-1.605-.81-2.205-2.429L6.33 10.121c-.45-1.62-.93-2.43-1.44-2.43-.12 0-.51.24-1.184.706L3 7.497l2.19-1.95c.989-.869 1.724-1.319 2.218-1.349 1.17-.135 1.89.66 2.16 2.37.3 1.844.495 2.998.6 3.448.344 1.53.704 2.294 1.11 2.294.314 0 .794-.495 1.424-1.5.49-.67.832-1.436 1.004-2.249.09-.87-.255-1.304-1.004-1.304-.36 0-.735.09-1.11.255.735-2.414 2.144-3.584 4.213-3.509 1.545.045 2.265 1.05 2.19 3Z" clip-rule="evenodd"/>
            </svg>
        </span> 
    {%- when 'close' -%}
        <span class="{{ icon_class }}">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true"
                focusable="false"
                fill="none"
                viewBox="0 0 18 17"
                >
                <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor">
            </svg>
        </span>
    {%- when 'separate' -%}
        <span class="{{ icon_class }}">
            <svg 
                aria-hidden="true" 
                role="img" 
                focusable="false" 
                viewBox="0 0 32 32"
            >
                <path d="M11.42 29.42l-2.84-2.84 10.6-10.58-10.6-10.58 2.84-2.84 13.4 13.42z"></path>
            </svg>
        </span>
    {%- when 'square' -%}
        <span class="{{ icon_class }}">
            <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="1.39844" y="0.5" width="15" height="15" rx="1.5" stroke="currentColor"/>
            </svg>                
        </span>
    {%- when 'checkmark' -%}
        <span class="{{ icon_class }}">
            <svg
                aria-hidden="true"
                viewBox="0 0 11 7"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path d="M1.5 3.5L2.83333 4.75L4.16667 6L9.5 1"
                  stroke="currentColor"
                  stroke-width="1.75"
                  stroke-linecap="round"
                  stroke-linejoin="round" />
            </svg>
        </span>
    {%- when 'filter' -%}
        <span class="{{ icon_class }}">
            <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_150_35082)">
                <path d="M7.13086 9.33299C8.23543 9.33299 9.13086 10.2284 9.13086 11.333C9.13086 12.4376 8.23543 13.333 7.13086 13.333C6.02629 13.333 5.13086 12.4376 5.13086 11.333C5.13086 10.2284 6.02629 9.33299 7.13086 9.33299Z" stroke="currentColor" stroke-width="1.5"/>
                <path d="M10.4629 2.66698C9.35832 2.66698 8.46289 3.56241 8.46289 4.66698C8.46289 5.77155 9.35832 6.66698 10.4629 6.66698C11.5675 6.66698 12.4629 5.77155 12.4629 4.66698C12.4629 3.56241 11.5675 2.66698 10.4629 2.66698Z" stroke="currentColor" stroke-width="1.5"/>
                <path d="M10.7969 11.3057L15.4635 11.3057" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"/>
                <path d="M6.79688 4.63867L2.13021 4.63867" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"/>
                <path d="M2.13086 11.3057L3.46419 11.3057" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"/>
                <path d="M15.4629 4.63867L14.1296 4.63867" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"/>
                </g>
                <defs>
                <clipPath id="clip0_150_35082">
                <rect x="0.796875" width="16" height="16" rx="5" fill="white"/>
                </clipPath>
                </defs>
            </svg>                
        </span>
    {%- when 'home' -%}
        <span class="{{ icon_class }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M16.96 15.9896C14.0133 17.7669 9.23729 17.7669 6.29329 15.9896M20.96 7.60293L13.8493 2.07227C13.2253 1.58681 12.4573 1.32324 11.6667 1.32324C10.8761 1.32324 10.108 1.58681 9.484 2.07227L2.372 7.60293C1.94459 7.93531 1.59879 8.36097 1.36101 8.8474C1.12322 9.33383 0.999745 9.86816 1 10.4096V20.0096C1 20.7168 1.28095 21.3951 1.78105 21.8952C2.28115 22.3953 2.95942 22.6763 3.66667 22.6763H19.6667C20.3739 22.6763 21.0522 22.3953 21.5523 21.8952C22.0524 21.3951 22.3333 20.7168 22.3333 20.0096V10.4096C22.3333 9.31227 21.8267 8.27627 20.96 7.60293Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>               
        </span>
    {%- when 'comment' -%}
        <span class="{{ icon_class }}">
            <svg 
                xmlns="http://www.w3.org/2000/svg" 
                xmlns:xlink="http://www.w3.org/1999/xlink" 
                version="1.1" 
                id="Layer_1" 
                x="0px" 
                y="0px" 
                viewBox="0 0 64 64" 
                style="enable-background:new 0 0 64 64;" 
                xml:space="preserve"
            >
                <g>
                    <path d="M62.5,5.6h-61C0.7,5.6,0,6.2,0,7.1v49.9c0,0.5,0.3,1,0.7,1.3c0.2,0.1,0.5,0.2,0.8,0.2c0.3,0,0.5-0.1,0.7-0.2l19.1-10.9   h41.2c0.8,0,1.5-0.7,1.5-1.5V7.1C64,6.2,63.3,5.6,62.5,5.6z M61,44.4H20.9c-0.3,0-0.5,0.1-0.7,0.2L3,54.4V8.6h58V44.4z"/>
                    <path d="M15.4,32.5c3.3,0,6-2.7,6-6s-2.7-6-6-6s-6,2.7-6,6S12.1,32.5,15.4,32.5z M15.4,23.5c1.7,0,3,1.3,3,3s-1.3,3-3,3s-3-1.3-3-3   S13.7,23.5,15.4,23.5z"/>
                    <path d="M32,32.5c3.3,0,6-2.7,6-6s-2.7-6-6-6s-6,2.7-6,6S28.7,32.5,32,32.5z M32,23.5c1.7,0,3,1.3,3,3s-1.3,3-3,3s-3-1.3-3-3   S30.3,23.5,32,23.5z"/>
                    <path d="M48.6,32.5c3.3,0,6-2.7,6-6s-2.7-6-6-6s-6,2.7-6,6S45.3,32.5,48.6,32.5z M48.6,23.5c1.7,0,3,1.3,3,3s-1.3,3-3,3   c-1.7,0-3-1.3-3-3S47,23.5,48.6,23.5z"/>
                </g>
            </svg>
        </span>
    {%- when 'chevron-left' -%}
        <span class="{{ icon_class }}">
            <svg 
                xmlns="http://www.w3.org/2000/svg" 
                xmlns:xlink="http://www.w3.org/1999/xlink" 
                version="1.1" id="Layer_2_1_" x="0px" y="0px" 
                viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" 
                xml:space="preserve"
            >
                <path d="M19.8,32.7c-0.4-0.4-0.4-1,0-1.4L47.1,2.5C47.6,1.9,47.6,1,47,0.4s-1.6-0.5-2.1,0.1L17.6,29.2c-1.4,1.5-1.4,4,0,5.5  l27.3,28.8c0.3,0.3,0.7,0.5,1.1,0.5c0.4,0,0.7-0.1,1-0.4c0.6-0.6,0.6-1.5,0.1-2.1L19.8,32.7z"/>
            </svg>
        </span>
    {%- when 'chevron-right' -%}
        <span class="{{ icon_class }}">
            <svg 
                xmlns="http://www.w3.org/2000/svg" 
                xmlns:xlink="http://www.w3.org/1999/xlink" 
                version="1.1" id="Layer_2_1_" x="0px" y="0px" 
                viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" 
                xml:space="preserve"
            >
                <path d="M46.4,29.2L19.1,0.5c-0.6-0.6-1.5-0.6-2.1-0.1c-0.6,0.6-0.6,1.5-0.1,2.1l27.3,28.8c0.4,0.4,0.4,1,0,1.4L16.9,61.5  c-0.6,0.6-0.5,1.6,0.1,2.1c0.3,0.3,0.7,0.4,1,0.4c0.4,0,0.8-0.2,1.1-0.5l27.3-28.8C47.8,33.2,47.8,30.8,46.4,29.2z"/>
            </svg>
        </span>
    {%- when 'grid' -%}
        <span class="{{ icon_class }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                <path d="M0 0H6.4V6.4H0V0Z" fill="currentColor"/>
                <path d="M0 9.6H6.4V16H0V9.6Z" fill="currentColor"/>
                <path d="M9.6 0H16V6.4H9.6V0Z" fill="currentColor"/>
                <path d="M9.6 9.6H16V16H9.6V9.6Z" fill="currentColor"/>
            </svg>
        </span>
    {%- when 'list' -%}
        <span class="{{ icon_class }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M20 6H4M17 12H4M14 18H4" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </span>

    {%- when 'arrow_button' -%}
        <span class="{{ icon_class }}">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4 12L12 4M12 4H6M12 4V10" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>                
        </span>
    
    {%- when 'plus' -%}
        <span class="{{ icon_class }}">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 5V19M5 12H19" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </span>
    {%- when 'minus' -%}
        <span class="{{ icon_class }}">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5 12H19" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>                
        </span>
    {%- when 'caret_2' -%}
        <span class="{{ icon_class }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                <path d="M15 8L10 13L5 8" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>               
        </span>
    {%- when 'size-chart' -%}
        <span class="{{ icon_class }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                <path d="M2.33301 4.66634H3.49967M2.33301 6.99967H4.08301M2.33301 9.33301H3.49967M4.66634 2.33301V3.49967M6.99967 2.33301V4.08301M9.33301 2.33301V3.49967M2.91634 2.33301H11.083C11.2377 2.33301 11.3861 2.39447 11.4955 2.50386C11.6049 2.61326 11.6663 2.76163 11.6663 2.91634V5.83301C11.6663 5.98772 11.6049 6.13609 11.4955 6.24549C11.3861 6.35488 11.2377 6.41634 11.083 6.41634H6.99967C6.84496 6.41634 6.69659 6.4778 6.5872 6.5872C6.4778 6.69659 6.41634 6.84496 6.41634 6.99967V11.083C6.41634 11.2377 6.35488 11.3861 6.24549 11.4955C6.13609 11.6049 5.98772 11.6663 5.83301 11.6663H2.91634C2.76163 11.6663 2.61326 11.6049 2.50386 11.4955C2.39447 11.3861 2.33301 11.2377 2.33301 11.083V2.91634C2.33301 2.76163 2.39447 2.61326 2.50386 2.50386C2.61326 2.39447 2.76163 2.33301 2.91634 2.33301Z" stroke="#15191E" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </span>

{%- endcase -%}