{{ 'component-article-card.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'section-main-blog.css' | asset_url | stylesheet_tag }}
{{ 'section-blog-post.css' | asset_url | stylesheet_tag }}
{%- assign blog_header = section.blocks | where: "type", "title" -%}
{%- assign block = blog_header[0] -%}
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_mb }}px;
    padding-bottom: {{ section.settings.padding_bottom_mb }}px;
  }

  .article-template__title {
    font-size: {{ block.settings.heading_size_mb }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
    .article-template__title {
      font-size: {{ block.settings.heading_size }}px;
    }
  }
  {%- if section.settings.enable_sidebar -%}
    .blog__sidebar {
      display: none;
    }
    .blog__sidebar h2 {
      margin-bottom: 20px;
    }
    @media screen and (min-width: 1024px) {
      {%- if block.settings.full == false -%}
        .article__header {
          padding-right: {{ section.settings.width_sidebar | plus: 28 }}px;
        }
      {%- endif -%}
      .main-article__wrapper {
        display: flex;
        gap: 28px;
        {%- if section.settings.align_sidebar == 'left' -%}
          flex-direction: row-reverse;
        {%- endif -%}
      }
      .main-article__inner {
        width: calc(100% - {{ section.settings.width_sidebar }}px);
      }
      .blog__sidebar {
        display: block;
        width: {{ section.settings.width_sidebar }}px;
      }
      
    }
  {%- endif -%}
{%- endstyle -%}
<article
  class="article-template color-{{ section.settings.color_scheme }} section-{{ section.id }}-padding"
  itemscope
  itemtype="http://schema.org/BlogPosting"
>
  <div class="page-width">
    {%- if article.image and section.settings.show_featured_image -%}
      <div
        class="article-template__hero-container{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
        {{ block.shopify_attributes }}
      >
        <div
          class="article-template__hero-{{ section.settings.image_height }} media"
          itemprop="image"
          {% if section.settings.image_height == 'adapt' and article.image %}
            style="padding-bottom: {{ 1 | divided_by: article.image.aspect_ratio | times: 100 }}%;"
          {% endif %}
        >
          <img
            srcset="
              {% if article.image.width >= 350 %}{{ article.image | image_url: width: 350 }} 350w,{% endif %}
              {% if article.image.width >= 750 %}{{ article.image | image_url: width: 750 }} 750w,{% endif %}
              {% if article.image.width >= 1100 %}{{ article.image | image_url: width: 1100 }} 1100w,{% endif %}
              {% if article.image.width >= 1500 %}{{ article.image | image_url: width: 1500 }} 1500w,{% endif %}
              {% if article.image.width >= 2200 %}{{ article.image | image_url: width: 2200 }} 2200w,{% endif %}
              {% if article.image.width >= 3000 %}{{ article.image | image_url: width: 3000 }} 3000w,{% endif %}
              {{ article.image | image_url }} {{ article.image.width }}w
            "
            sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px, (min-width: 750px) calc(100vw - 10rem), 100vw"
            src="{{ article.image | image_url: width: 1100 }}"
            loading="eager"
            fetchpriority="high"
            width="{{ article.image.width }}"
            height="{{ article.image.height }}"
            alt="{{ article.image.alt | escape }}"
          >
        </div>
      </div>
    {%- endif -%}
    <div class="main-article__wrapper">
      <div class="main-article__inner">
        {%- for block in section.blocks -%}
          {%- style -%}
            .block-{{ block.id }}-padding {
              padding-top: {{ block.settings.padding_top_mb }}px;
              padding-bottom: {{ block.settings.padding_bottom_mb }}px;
            }
      
            @media screen and (min-width: 750px) {
              .block-{{ block.id }}-padding {
                padding-top: {{ block.settings.padding_top }}px;
                padding-bottom: {{ block.settings.padding_bottom }}px;
              }
            }
          {%- endstyle -%}
          {%- unless block.type == 'sidebar_blog' or
                    block.type == 'column' or
                    block.type == 'sidebar_product'
          -%}
            <div class="block-{{ block.id }}-padding type--{{ block.type }}">
              {%- case block.type -%}
                {%- when '@app' -%}
                  <div class="page-width">
                    {% render block %}
                  </div>
                {%- when 'title' -%}
                <div
                    class="article__header {{ block.settings.alignment }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
                    {{ block.shopify_attributes }}
                  >
                    {%- if block.settings.show_category and article.tags.size > 0 -%}
                      <div class="tags-categories">
                        {%- assign blog_url_parts = article.url | split: '/' -%}
                        {%- assign blog_url = '' -%}

                        {%- for blog_url_part in blog_url_parts -%}
                        {%- unless forloop.last -%}
                            {%- assign blog_url = blog_url | append: '/' | append: blog_url_part -%}
                        {%- endunless -%}
                        {%- endfor -%}
                        {%- for tag in article.tags -%}
                        <a
                            href="{{ blog_url | remove_first: '/' }}/tagged/{{ tag | handle }}"
                            class="article-item__category sub_heading"
                        >
                          <span>#{{ tag }}</span>
                        </a>
                        {%- endfor -%}
                      </div>
                    {%- endif -%}
                    <div class="article-card blog-card-2">
                      <h1
                        class="article-template__title card__heading"
                        itemprop="headline"
                      >
                        {{ article.title | escape }}
                      </h1>
                      <div class="grouped__blog-info">
                        {%- if block.settings.blog_show_date -%}
                          <span class="date" itemprop="dateCreated pubdate datePublished">
                            {{- article.published_at | time_tag: format: 'date' -}}
                          </span>
                        {%- endif -%}
                        {%- if block.settings.blog_show_author and block.settings.blog_show_date -%}
                          <span class="article-item__by"> {{'blogs.article.by' | t }} </span>
                        {%- endif -%}
                        {%- if block.settings.blog_show_author -%}
                          <span
                            class="article-item__author"
                            itemprop="author"
                            itemscope
                            itemtype="http://schema.org/Person"
                          >
                            <span itemprop="name">{{ article.author }}</span>
                          </span>
                        {%- endif -%}
                      </div>
                      {%- if block.settings.show_share -%}
                        <div
                          class="article-template__social-sharing"
                        >
                          {% assign share_url = request.origin | append: article.url %}
                          {% render 'share-button', block: block, share_link: share_url %}
                        </div>
                      {%- endif -%}
                    </div>
                  </div>
                {%- when 'info_author' -%}
                  <div
                    class="article-template__author{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                    {{ block.shopify_attributes }}
                    style="background: {{block.settings.background_section}};"
                  >
                    <div class="d-flex">
                      {%- if block.settings.avatar != blank -%}
                        <div class="article-template__author-avatar">
                          <img
                            srcset="{{ block.settings.avatar | image_url }} {{ article.image.width }}w"
                            sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px, (min-width: 750px) calc(100vw - 10rem), 100vw"
                            src="{{ block.settings.avatar | image_url: width: 1100 }}"
                            loading="eager"
                            fetchpriority="high"
                            width="{{ block.settings.avatar.width }}"
                            height="{{ block.settings.avatar.height }}"
                            alt="{{ block.settings.avatar.alt | escape }}"
                          >
                        </div>
                      {%- endif -%}
                      <div class="article-template__author-content">
                        {%- if block.settings.name != blank -%}
                          <div class="name" 
                            style="font-size: {{ block.settings.name_size }}px; color: {{ block.settings.name_color }}">
                            {{ block.settings.name }}
                          </div>
                        {%- endif -%}
                        {%- if block.settings.position != blank -%}
                          <div class="position"
                            style="font-size: {{ block.settings.position_size }}px; color: {{ block.settings.position_color }}">
                            {{ block.settings.position }}
                          </div>
                        {%- endif -%}
                        {%- if block.settings.introduce != blank -%}
                          <div class="introduce" 
                            style="font-size: {{ block.settings.introduce_size }}px; color: {{ block.settings.introduce_color }}">
                            {{ block.settings.introduce }}
                          </div>
                        {%- endif -%}
                      </div>
                    </div>
                  </div>
                {%- when 'content' -%}
                  <div
                    class="article-template__content rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                    itemprop="articleBody"
                    {{ block.shopify_attributes }}
                  >
                    {{ article.content }}
                  </div>
                {%- when 'tags' -%}
                  <div
                    class="article-template__tags d-flex j-c--space a-i--center{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                    {{ block.shopify_attributes }}
                  >
                    {%- if block.settings.show_share -%}
                      <div
                        class="article-template__social-sharing"
                      >
                        {% assign share_url = request.origin | append: article.url %}
                        {% render 'share-button', block: block, share_link: share_url %}
                      </div>
                    {%- endif -%}
                    <ul class="article__tags">
                      {%- for tag in article.tags -%}
                        <li class="article__tag--item">
                          <a
                            href="{{ blog.url }}/tagged/{{ tag | handle }}"
                            class="link"
                            style="
                              font-size: {{ block.settings.font_size }}px;
                              color: {{ block.settings.color }};
                            "
                          >
                            <span>#{{ tag }}</span>
                          </a>
                        </li>
                      {%- endfor -%}
                    </ul>
                  </div>
                {%- when 'previous-next' -%}
                  {%- render 'blog-previous-next', block: block -%}
                {%- when 'comment' -%}
                  {%- render 'blog-comment', block: block -%}
              {%- endcase -%}
            </div>
          {%- endunless -%}
        {%- endfor -%}
      </div>
      {%- if section.settings.enable_sidebar -%}
        <div class="blog__sidebar">
          {%- render 'sidebar-article' -%}
        </div>
      {%- endif -%}
    </div>
    {%- if section.settings.enable_related and blog.articles_count > 1 -%}
      {%- render 'related-article', blog: blog -%}
    {%- endif -%}
  </div>
</article>
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Article",
    "articleBody": {{ article.content | strip_html | json }},
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": {{ request.origin | append: page.url | json }}
    },
    "headline": {{ article.title | json }},
    {% if article.excerpt != blank %}
      "description": {{ article.excerpt | strip_html | json }},
    {% endif %}
    {% if article.image %}
      "image": [
        {{ article | image_url: width: 1920 | prepend: "https:" | json }}
      ],
    {% endif %}
    "datePublished": {{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "dateCreated": {{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "author": {
      "@type": "Person",
      "name": {{ article.author | json }}
    },
    "publisher": {
      "@type": "Organization",
      "name": {{ shop.name | json }}
    }
  }
</script>

{% schema %}
{
  "name": "t:sections.main-article.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "Featured image"
    },
    {
      "type": "checkbox",
      "id": "show_featured_image",
      "default": false,
      "label": "Show featured image"
    },
    {
          "type": "select",
          "id": "image_height",
          "options": [
            {
              "value": "adapt",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__1.label"
            },
            {
              "value": "small",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__2.label"
            },
            {
              "value": "medium",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__3.label"
            },
            {
              "value": "large",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__4.label"
            }
          ],
          "default": "adapt",
          "label": "t:sections.main-article.blocks.featured_image.settings.image_height.label",
          "info": "t:sections.main-article.blocks.featured_image.settings.image_height.info"
        },
    {
      "type": "header",
      "content": "Sidebar"
    },
    {
      "type": "checkbox",
      "id": "enable_sidebar",
      "label": "Enable sidebar",
      "default": false
    },
    {
      "type": "select",
      "id": "align_sidebar",
      "label": "Align sidebar",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "right"
        }
      ],
      "default": "right"
    },
    {
      "type": "range",
      "id": "width_sidebar",
      "min": 100,
      "max": 400,
      "step": 10,
      "unit": "px",
      "label": "Sidebar width",
      "default": 260
    },
    {
      "type": "header",
      "content": "Related blog"
    },
    {
      "type": "checkbox",
      "id": "enable_related",
      "label": "Enable related blog",
      "default": true
    },
    {
      "type": "richtext",
      "id": "heading_related",
      "label": "Heading",
      "default": "<p>You may be interested ?</p>"
    },
    {
      "type": "range",
      "id": "font_heading",
      "min": 10,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Font size heading",
      "default": 18
    },
    {
      "type": "range",
      "id": "blogs_to_show",
      "min": 2,
      "max": 25,
      "step": 1,
      "default": 3,
      "label": "Number blog to show"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 3,
      "label": "t:sections.main-list-collections.settings.columns_desktop.label"
    },
    {
      "type": "range",
      "id": "column_gap",
      "min": 2,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Column gap",
      "default": 22
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.main-blog.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": false,
      "label": "t:sections.main-blog.settings.show_author.label"
    },
    {
      "type": "checkbox",
      "id": "show_excerpt",
      "default": false,
      "label": "Show excerpt"
    },
    {
      "type": "checkbox",
      "id": "show_category",
      "default": false,
      "label": "Show category (Tags first)"
    },
    {
      "type": "checkbox",
      "id": "show_comment",
      "default": false,
      "label": "Show comment"
    },
    {
      "type": "checkbox",
      "id": "show_more",
      "default": false,
      "label": "Show button view"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_top_mb",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding top on Mobile",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom_mb",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding bottom on Mobile",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "info_author",
      "name": "Info author",
      "limit": 1,
      "settings": [
        {
          "type": "color",
          "id": "background_section",
          "label": "Backgground",
          "default": "#F9FAFB"
        },
        {
          "type": "image_picker",
          "id": "avatar",
          "label": "Avatar"
        },
        {
          "type": "text",
          "id": "name",
          "label": "Name",
          "default": "Tsubasa Black"
        },
        {
          "type": "range",
          "id": "name_size",
          "label": "Font size name",
          "min": 10,
          "max": 100,
          "step": 1,
          "default": 16,
          "unit": "px"
        },
        {
          "type": "color",
          "id": "name_color",
          "label": "Color name",
          "default": "#343434"
        },
        {
          "type": "text",
          "id": "position",
          "label": "Position",
          "default": "Medical Assistant"
        },
        {
          "type": "range",
          "id": "position_size",
          "label": "Font size position",
          "min": 10,
          "max": 100,
          "step": 1,
          "default": 14,
          "unit": "px"
        },
        {
          "type": "color",
          "id": "position_color",
          "label": "Color position",
          "default": "#626974"
        },
        {
          "type": "richtext",
          "id": "introduce",
          "label": "Introduce"
        },
        {
          "type": "range",
          "id": "introduce_size",
          "label": "Font size introduce",
          "min": 10,
          "max": 100,
          "step": 1,
          "default": 14,
          "unit": "px"
        },
        {
          "type": "color",
          "id": "introduce_color",
          "label": "Color introduce",
          "default": "#343434"
        },
        {
          "type": "range",
          "id": "padding_top",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "t:sections.all.padding.padding_top",
          "default": 36
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "t:sections.all.padding.padding_bottom",
          "default": 10
        },
        {
          "type": "range",
          "id": "padding_top_mb",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Padding top on Mobile",
          "default": 36
        },
        {
          "type": "range",
          "id": "padding_bottom_mb",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Padding bottom on Mobile",
          "default": 10
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.main-article.blocks.title.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "full",
          "label": "Header full",
          "default": false
        },
        {
          "type": "text_alignment",
          "id": "alignment",
          "label": "Content alignment",
          "default": "left"
        },
        {
          "type": "range",
          "id": "heading_size",
          "label": "Font size title",
          "min": 10,
          "max": 100,
          "step": 1,
          "default": 28,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "heading_size_mb",
          "label": "Font size title on mobile",
          "min": 10,
          "max": 100,
          "step": 1,
          "default": 28,
          "unit": "px"
        },
        {
          "type": "checkbox",
          "id": "blog_show_date",
          "default": true,
          "label": "t:sections.main-article.blocks.title.settings.blog_show_date.label"
        },
        {
          "type": "checkbox",
          "id": "blog_show_author",
          "default": false,
          "label": "t:sections.main-article.blocks.title.settings.blog_show_author.label"
        },
        {
          "type": "checkbox",
          "id": "show_category",
          "default": true,
          "label": "Show category"
        },
        {
          "type": "checkbox",
          "id": "show_share",
          "default": true,
          "label": "Show share"
        },
        {
          "type": "checkbox",
          "id": "show_featured_image",
          "default": false,
          "label": "Show featured image"
        },
        {
          "type": "select",
          "id": "image_height",
          "options": [
            {
              "value": "adapt",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__1.label"
            },
            {
              "value": "small",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__2.label"
            },
            {
              "value": "medium",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__3.label"
            },
            {
              "value": "large",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__4.label"
            }
          ],
          "default": "adapt",
          "label": "t:sections.main-article.blocks.featured_image.settings.image_height.label",
          "info": "t:sections.main-article.blocks.featured_image.settings.image_height.info"
        },
        {
          "type": "range",
          "id": "padding_top",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "t:sections.all.padding.padding_top",
          "default": 36
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "t:sections.all.padding.padding_bottom",
          "default": 10
        },
        {
          "type": "range",
          "id": "padding_top_mb",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Padding top on Mobile",
          "default": 36
        },
        {
          "type": "range",
          "id": "padding_bottom_mb",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Padding bottom on Mobile",
          "default": 10
        }
      ]
    },
    {
      "type": "content",
      "name": "t:sections.main-article.blocks.content.name",
      "limit": 1,
      "settings": [
        {
          "type": "range",
          "id": "padding_top",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "t:sections.all.padding.padding_top",
          "default": 36
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "t:sections.all.padding.padding_bottom",
          "default": 10
        },
        {
          "type": "range",
          "id": "padding_top_mb",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Padding top on Mobile",
          "default": 36
        },
        {
          "type": "range",
          "id": "padding_bottom_mb",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Padding bottom on Mobile",
          "default": 10
        }
      ]
    },
    {
      "type": "tags",
      "name": "Tags",
      "limit": 1,
      "settings": [
        {
          "type": "range",
          "id": "font_size",
          "min": 8,
          "max": 20,
          "step": 1,
          "unit": "px",
          "label": "Font size",
          "default": 14
        },
        {
          "type": "color",
          "id": "color",
          "default": "#000",
          "label": "Color"
        },
        {
          "type": "checkbox",
          "id": "show_share",
          "default": true,
          "label": "Show share"
        },
        {
          "type": "range",
          "id": "padding_top",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "t:sections.all.padding.padding_top",
          "default": 36
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "t:sections.all.padding.padding_bottom",
          "default": 10
        },
        {
          "type": "range",
          "id": "padding_top_mb",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Padding top on Mobile",
          "default": 36
        },
        {
          "type": "range",
          "id": "padding_bottom_mb",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Padding bottom on Mobile",
          "default": 10
        }
      ]
    },
    {
      "type": "previous-next",
      "name": "Blog next and previous",
      "limit": 1,
      "settings": [
        {
          "type": "range",
          "id": "title_size",
          "min": 6,
          "max": 40,
          "step": 1,
          "unit": "px",
          "label": "Title font size",
          "default": 16
        },
        {
          "type": "color",
          "id": "title_color",
          "label": "Title color",
          "default": "#686868"
        },
        {
          "type": "color",
          "id": "title_color_hover",
          "label": "Title color hover",
          "default": "#3251BF"
        },
        {
          "type": "color",
          "id": "button_color",
          "label": "Button color",
          "default": "#9C9C9C"
        },
        {
          "type": "color",
          "id": "button_bgcolor",
          "label": "Button background color",
          "default": "#ECECEC"
        },
        {
          "type": "color",
          "id": "button_color_hover",
          "label": "Button color when hover",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "button_bgcolor_hover",
          "label": "Button background color hover",
          "default": "#436CFF"
        },
        {
          "type": "range",
          "id": "padding_top",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "t:sections.all.padding.padding_top",
          "default": 36
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "t:sections.all.padding.padding_bottom",
          "default": 10
        },
        {
          "type": "range",
          "id": "padding_top_mb",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Padding top on Mobile",
          "default": 36
        },
        {
          "type": "range",
          "id": "padding_bottom_mb",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Padding bottom on Mobile",
          "default": 10
        }
      ]
    },
    {
      "type": "comment",
      "name": "Comment",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "heading",
          "label": "Heading",
          "default": "<p>Leave A Reply</p>"
        },
        {
          "type": "color",
          "id": "heading_color",
          "label": "Heading color",
          "default": "#343434"
        },
        {
          "type": "range",
          "id": "font_heading",
          "min": 10,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Font size heading",
          "default": 18
        },
        {
          "type": "richtext",
          "id": "sub_heading",
          "label": "Sub heading"
        },
        {
          "type": "color",
          "id": "subheading_color",
          "label": "Sub heading color",
          "default": "#686868"
        },
        {
          "type": "range",
          "id": "font_subheading",
          "min": 10,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Font size sub heading",
          "default": 14
        },
        {
          "type": "header",
          "content": "Content comment"
        },
        {
          "type": "color",
          "id": "author_color",
          "label": "Author color",
          "default": "#343434"
        },
        {
          "type": "range",
          "id": "author_size",
          "min": 10,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Font size author",
          "default": 16
        },
        {
          "type": "color",
          "id": "date_color",
          "label": "Date color",
          "default": "#686868"
        },
        {
          "type": "range",
          "id": "date_size",
          "min": 10,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Font size author",
          "default": 14
        },
        {
          "type": "color",
          "id": "content_color",
          "label": "Content color",
          "default": "#343434"
        },
        {
          "type": "range",
          "id": "content_size",
          "min": 10,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Font size content",
          "default": 14
        },
        {
          "type": "range",
          "id": "padding_top",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "t:sections.all.padding.padding_top",
          "default": 36
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "t:sections.all.padding.padding_bottom",
          "default": 10
        },
        {
          "type": "range",
          "id": "padding_top_mb",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Padding top on Mobile",
          "default": 36
        },
        {
          "type": "range",
          "id": "padding_bottom_mb",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Padding bottom on Mobile",
          "default": 10
        }
      ]
    },
    {
      "name": "Feature blog sidebar",
      "limit": 1,
      "type": "sidebar_blog",
      "settings": [
        {
          "type": "checkbox",
          "id": "enable",
          "label": "Enable block",
          "default": true
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Featured blog"
        },
        {
          "type": "color",
          "id": "color_heading",
          "label": "Color heading",
          "default": "#343434"
        },
        {
          "type": "range",
          "id": "fontsize_heading",
          "label": "Font size heading sidebar",
          "min": 10,
          "max": 100,
          "step": 1,
          "default": 24
        },
        {
          "type": "blog",
          "id": "blog",
          "label": "t:sections.featured-blog.settings.blog.label"
        },
        {
          "type": "range",
          "id": "blogs_to_show",
          "min": 2,
          "max": 25,
          "step": 1,
          "default": 4,
          "label": "Number blog to show"
        },
        {
          "type": "header",
          "content": "t:sections.all.padding.section_padding_heading"
        },
        {
          "type": "range",
          "id": "padding_top",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "t:sections.all.padding.padding_top",
          "default": 10
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "t:sections.all.padding.padding_bottom",
          "default": 10
        },
        {
          "type": "range",
          "id": "padding_top_mb",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Padding top on Mobile",
          "default": 36
        },
        {
          "type": "range",
          "id": "padding_bottom_mb",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Padding bottom on Mobile",
          "default": 36
        }
      ]
    },
    {
      "type": "column",
      "name": "Column sidebar",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "enable",
          "label": "Enable block",
          "default": true
        },
        {
          "type": "range",
          "id": "height_custom",
          "label": "Height block",
          "min": 100,
          "max": 500,
          "step": 10,
          "default": 300,
          "unit": "px"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "t:sections.all.colors.label",
          "default": "background-1"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.multicolumn.blocks.column.settings.image.label"
        },
        {
          "type": "checkbox",
          "id": "enable_resize",
          "label": "Enable resize image",
          "default": false
        },
        {
          "type": "paragraph",
          "content": "Only use when enable resize setting"
        },
        {
          "type": "range",
          "id": "resize",
          "label": "Width image resize",
          "min": 100,
          "max": 1000,
          "step": 10,
          "default": 200,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "position_ver",
          "label": "Position vertical",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 50,
          "unit": "%"
        },
        {
          "type": "range",
          "id": "position_hoz",
          "label": "Position horizontal",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 90,
          "unit": "%"
        },
        {
          "type": "header",
          "content": "Content"
        },
        {
          "type": "range",
          "id": "content_position_ver",
          "label": "Content position vertical",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 50,
          "unit": "%"
        },
        {
          "type": "range",
          "id": "content_position_hoz",
          "label": "Content position horizontal",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 90,
          "unit": "%"
        },
        {
          "type": "select",
          "id": "text_alignment",
          "options": [
            {
              "value": "left",
              "label": "t:sections.slideshow.blocks.slide.settings.text_alignment.option_1.label"
            },
            {
              "value": "center",
              "label": "t:sections.slideshow.blocks.slide.settings.text_alignment.option_2.label"
            },
            {
              "value": "right",
              "label": "t:sections.slideshow.blocks.slide.settings.text_alignment.option_3.label"
            }
          ],
          "default": "left",
          "label": "t:sections.slideshow.blocks.slide.settings.text_alignment.label"
        },
        {
          "type": "textarea",
          "id": "sub_title",
          "default": "Sub heading",
          "label": "Sub heading"
        },
        {
          "type": "range",
          "id": "subheading_size",
          "label": "Font size sub heading",
          "min": 10,
          "max": 100,
          "step": 1,
          "default": 14
        },
        {
          "type": "range",
          "id": "sub_margin",
          "label": "Sub heading margin bottom",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 10
        },
        {
          "type": "textarea",
          "id": "title",
          "default": "Heading",
          "label": "t:sections.multicolumn.blocks.column.settings.title.label"
        },
        {
          "type": "range",
          "id": "heading_size",
          "label": "Font size heading",
          "min": 10,
          "max": 100,
          "step": 1,
          "default": 28
        },
        {
          "type": "range",
          "id": "heading_margin",
          "label": "Heading margin bottom",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 10
        },
        {
          "type": "textarea",
          "id": "text",
          "default": "Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.",
          "label": "t:sections.multicolumn.blocks.column.settings.text.label"
        },
        {
          "type": "range",
          "id": "text_size",
          "label": "Font size text",
          "min": 10,
          "max": 100,
          "step": 1,
          "default": 14
        },
        {
          "type": "range",
          "id": "content_margin",
          "label": "Text margin bottom",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 10
        },
        {
          "type": "text",
          "id": "link_label",
          "label": "Link text"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.multicolumn.blocks.column.settings.link.label"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "Button style",
          "options": [
            {
              "value": "link",
              "label": "Link"
            },
            {
              "value": "button",
              "label": "Button"
            }
          ],
          "default": "link"
        },
        {
          "type": "text",
          "id": "link_label2",
          "label": "Link text 2"
        },
        {
          "type": "url",
          "id": "link2",
          "label": "Link 2"
        },
        {
          "type": "select",
          "id": "button_style2",
          "label": "Button style2",
          "options": [
            {
              "value": "link",
              "label": "Link"
            },
            {
              "value": "button",
              "label": "Button"
            }
          ],
          "default": "link"
        },
        {
          "type": "range",
          "id": "button_width",
          "label": "Button width",
          "min": 50,
          "max": 500,
          "step": 5,
          "default": 150,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "button_height",
          "label": "Button height",
          "min": 20,
          "max": 100,
          "step": 1,
          "default": 44,
          "unit": "px"
        },
        {
          "type": "header",
          "content": "Settings for label"
        },
        {
          "type": "range",
          "id": "label_position_ver",
          "label": "Label position vertical",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 50,
          "unit": "%"
        },
        {
          "type": "range",
          "id": "label_position_hoz",
          "label": "Label position horizontal",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 90,
          "unit": "%"
        },
        {
          "type": "richtext",
          "id": "text_label",
          "label": "Label"
        },
        {
          "type": "range",
          "id": "label_size",
          "label": "Font size label",
          "min": 10,
          "max": 100,
          "step": 1,
          "default": 14,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "label_width",
          "label": "Width label",
          "min": 10,
          "max": 200,
          "step": 2,
          "default": 64,
          "unit": "px"
        },
        {
          "type": "color",
          "id": "label_color",
          "label": "Color",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "label_bg_color",
          "label": "Background color label",
          "default": "#000000"
        },
        {
          "type": "header",
          "content": "t:sections.all.padding.section_padding_heading"
        },
        {
          "type": "range",
          "id": "padding_top",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "t:sections.all.padding.padding_top",
          "default": 10
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "t:sections.all.padding.padding_bottom",
          "default": 10
        }
      ]
    },
    {
      "name": "Feature product sidebar",
      "limit": 1,
      "type": "sidebar_product",
      "settings": [
        {
          "type": "checkbox",
          "id": "enable",
          "label": "Enable block",
          "default": true
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "range",
          "id": "products_to_show",
          "min": 1,
          "max": 6,
          "step": 1,
          "default":3,
          "label": "Number product to show"
        },
        {
          "type": "header",
          "content": "t:sections.all.padding.section_padding_heading"
        },
        {
          "type": "range",
          "id": "padding_top",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "t:sections.all.padding.padding_top",
          "default": 10
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "t:sections.all.padding.padding_bottom",
          "default": 10
        },
        {
          "type": "range",
          "id": "padding_top_mb",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Padding top on Mobile",
          "default": 36
        },
        {
          "type": "range",
          "id": "padding_bottom_mb",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Padding bottom on Mobile",
          "default": 36
        }
      ]
    },
    {
      "name": "All tags sidebar",
      "limit": 1,
      "type": "blog_tags",
      "settings": [
        {
          "type": "checkbox",
          "id": "enable",
          "label": "Enable block",
          "default": true
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "color",
          "id": "color_heading",
          "label": "Color heading",
          "default": "#151515"
        },
        {
          "type": "range",
          "id": "fontsize_heading",
          "label": "Font size heading",
          "min": 10,
          "max": 100,
          "step": 1,
          "default": 16
        },
        {
          "type": "header",
          "content": "Content Settings"
        },
        {
          "type": "range",
          "id": "font_size",
          "min": 8,
          "max": 20,
          "step": 1,
          "unit": "px",
          "label": "Font size",
          "default": 14
        },
        {
          "type": "color",
          "id": "color",
          "default": "#000",
          "label": "Color"
        },
        {
          "type": "header",
          "content": "t:sections.all.padding.section_padding_heading"
        },
        {
          "type": "range",
          "id": "padding_top",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "t:sections.all.padding.padding_top",
          "default": 10
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "t:sections.all.padding.padding_bottom",
          "default": 10
        },
        {
          "type": "range",
          "id": "padding_top_mb",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Padding top on Mobile",
          "default": 36
        },
        {
          "type": "range",
          "id": "padding_bottom_mb",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Padding bottom on Mobile",
          "default": 36
        }
      ]
    },
    {
      "name": "Categories sidebar",
      "limit": 1,
      "type": "categories",
      "settings": [
        {
          "type": "checkbox",
          "id": "enable",
          "label": "Enable block",
          "default": true
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Main content"
        },
        {
          "type": "color",
          "id": "color_heading",
          "label": "Color heading",
          "default": "#151515"
        },
        {
          "type": "range",
          "id": "fontsize_heading",
          "label": "Font size heading sidebar",
          "min": 10,
          "max": 100,
          "step": 1,
          "default": 16
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu"
        },
        {
          "type": "color",
          "id": "color_menu",
          "label": "Color menu",
          "default": "#686868"
        },
        {
          "type": "color",
          "id": "color_menu_hover",
          "label": "Color menu hover",
          "default": "#436CFF"
        },
        {
          "type": "range",
          "id": "fontsize_menu",
          "label": "Font size menu",
          "min": 10,
          "max": 100,
          "step": 1,
          "unit": "px",
          "default": 14
        },
        {
          "type": "header",
          "content": "t:sections.all.padding.section_padding_heading"
        },
        {
          "type": "range",
          "id": "padding_top",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "t:sections.all.padding.padding_top",
          "default": 10
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "t:sections.all.padding.padding_bottom",
          "default": 10
        },
        {
          "type": "range",
          "id": "padding_top_mb",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Padding top on Mobile",
          "default": 36
        },
        {
          "type": "range",
          "id": "padding_bottom_mb",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Padding bottom on Mobile",
          "default": 36
        }
      ]
    }
  ]
}
{% endschema %}
