{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'section-related-products.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_mb }}px;
    padding-bottom: {{ section.settings.padding_bottom_mb }}px;
  }

  .section-{{ section.id }}-padding h2.heading {
    font-size: {{ section.settings.heading_size_mb }}px;
    border-bottom: 1px solid {{section.settings.border_color}};
    color: {{section.settings.heading_color}};
    margin-bottom: 17px;
    {%- if section.settings.enable_back -%}
      background-color: {{section.settings.background_heading_color}};
      padding: 13px 20px;
    {%-else-%}
      padding: 16px 0;
    {%- endif -%}
    font-weight:600;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
    .section-{{ section.id }}-padding h2.heading {
      font-size: {{ section.settings.heading_size }}px;
    }
  }
{%- endstyle -%}

<div class="color-{{ section.settings.color_scheme }} gradient no-js-hidden">
  <product-recommendations
    class="related-products page-width section-{{ section.id }}-padding isolate{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
    data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit={{ section.settings.products_to_show }}"
  >
    {% if recommendations.performed and recommendations.products_count > 0 %}
      <h2 class="related-products__heading inline-richtext heading">
        {{ section.settings.heading }}
      </h2>
      <ul
        class="grid product-grid grid--{{ section.settings.columns_desktop }}-col-desktop grid--{{ section.settings.columns_mobile }}-col-tablet-down{% if section.settings.swipe_on_mobile %} slider slider--mobile{% endif %}"
        style="--grid-desktop-horizontal-spacing: {{ section.settings.column_gap }}px"
        role="list"
      >
        {% for recommendation in recommendations.products %}
          <li class="grid__item slider__slide">
            {% render 'card-product',
              card_product: recommendation,
              media_aspect_ratio: settings.image_ratio,
              image_shape: settings.image_shape,
              show_secondary_image: settings.show_secondary_image,
              show_vendor: settings.show_vendor,
              show_rating: settings.show_rating,
              show_quick_add: settings.enable_quick_add,
              section_id: section.id,
            %}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </product-recommendations>
  {% if settings.image_shape == 'arch' %}
    {% render 'mask-arch' %}
  {%- endif -%}
</div>

{% schema %}
{
  "name": "t:sections.related-products.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.related-products.settings.paragraph__1.content"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "You may also like",
      "label": "t:sections.related-products.settings.heading.label"
    },
    {
      "type": "range",
      "id": "heading_size",
      "label": "Font size heading",
      "min": 10,
      "max": 100,
      "step": 1,
      "default": 28,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "heading_size_mb",
      "label": "Font size heading mobile",
      "min": 10,
      "max": 100,
      "step": 1,
      "default": 28,
      "unit": "px"
    },
    {
      "type": "checkbox",
      "id": "enable_back",
      "label": "Enable background",
      "default":false
    },
    {
      "type": "color",
      "id": "background_heading_color",
      "label": "Background color heading",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Color heading",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "border_color",
      "label": "Border color heading",
      "default": "#ffffff"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 10,
      "step": 1,
      "default": 4,
      "label": "t:sections.related-products.settings.products_to_show.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 4,
      "label": "t:sections.related-products.settings.columns_desktop.label"
    },
    {
      "type": "range",
      "id": "column_gap",
      "min": 2,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Column gap",
      "default": 22
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "t:sections.related-products.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "t:sections.related-products.settings.columns_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.related-products.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.related-products.settings.columns_mobile.options__2.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": false,
      "label": "t:sections.featured-collection.settings.swipe_on_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_top_mb",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding top on Mobile",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom_mb",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding bottom on Mobile",
      "default": 36
    }
  ]
}
{% endschema %}
